openapi: 3.0.3
info:
  title: TMS OnConnect Celebrities API
  description: The Tribune Media Services (TMS) OnConnect API provides comprehensive entertainment metadata for TV programming, movies, celebrities, and sports. It delivers electronic programming guide (EPG) data, movie showtimes, celebrity information, and televised sports schedules. Originally developed by Tribune Media Services, the API is now operated by Gracenote (a Nielsen company) and powers content discovery for consumer electronics manufacturers, cable operators, and entertainment platforms.
  version: 1.1.0
  contact:
    url: https://developer.tmsapi.com/
  termsOfService: https://developer.tmsapi.com/page/API_Terms_of_Use
servers:
- url: https://data.tmsapi.com
  description: TMS OnConnect API server
security:
- apiKey: []
tags:
- name: Celebrities
paths:
  /v1.1/celebs/{personId}:
    get:
      operationId: getCelebrityById
      summary: Get Celebrity Details
      description: Returns detailed information about a specific celebrity.
      tags:
      - Celebrities
      parameters:
      - name: personId
        in: path
        required: true
        schema:
          type: string
      - name: imageSize
        in: query
        schema:
          type: string
      - name: api_key
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Celebrity details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Celebrity'
  /v1.1/celebs/{personId}/airings:
    get:
      operationId: getCelebrityAirings
      summary: Get Celebrity Airings
      description: Retrieves all TV airings featuring a specific celebrity (up to 14 days).
      tags:
      - Celebrities
      parameters:
      - name: personId
        in: path
        required: true
        schema:
          type: string
      - name: lineupId
        in: query
        schema:
          type: string
      - name: startDateTime
        in: query
        schema:
          type: string
          format: date-time
      - name: endDateTime
        in: query
        schema:
          type: string
          format: date-time
      - name: imageSize
        in: query
        schema:
          type: string
      - name: api_key
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Celebrity TV airings
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Airing'
  /v1.1/celebs/talkShowAirings:
    get:
      operationId: getTalkShowCelebrityAirings
      summary: Get Celebrity Talk Show Airings
      description: Lists celebrities appearing on talk shows (requires R&D or Commercial plan).
      tags:
      - Celebrities
      parameters:
      - name: lineupId
        in: query
        required: true
        schema:
          type: string
      - name: startDateTime
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: endDateTime
        in: query
        schema:
          type: string
          format: date-time
      - name: imageSize
        in: query
        schema:
          type: string
      - name: api_key
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Celebrity talk show airings
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CelebrityAppearance'
components:
  schemas:
    Celebrity:
      type: object
      properties:
        personId:
          type: string
          description: Unique person identifier
        name:
          type: string
          description: Celebrity name
        biography:
          type: string
        birthDate:
          type: string
          format: date
        birthPlace:
          type: string
        preferredImage:
          $ref: '#/components/schemas/Image'
    Image:
      type: object
      properties:
        uri:
          type: string
          description: Image URI
        width:
          type: integer
        height:
          type: integer
        primary:
          type: boolean
        category:
          type: string
        text:
          type: boolean
    Program:
      type: object
      properties:
        tmsId:
          type: string
          description: TMS program identifier
        rootId:
          type: string
        seriesId:
          type: string
        title:
          type: string
          description: Program title
        titleLang:
          type: string
        description:
          type: string
          description: Program description
        shortDescription:
          type: string
        entityType:
          type: string
          enum:
          - Movie
          - Show
          - Special
          - Sports
          - Episode
        subType:
          type: string
        genres:
          type: array
          items:
            type: string
        releaseYear:
          type: integer
        releaseDate:
          type: string
          format: date
        ratings:
          type: array
          items:
            $ref: '#/components/schemas/Rating'
        preferredImage:
          $ref: '#/components/schemas/Image'
    Rating:
      type: object
      properties:
        body:
          type: string
          description: Rating body (e.g., MPAA, TV Parental Guidelines)
        code:
          type: string
          description: Rating code (e.g., PG-13, TV-14)
    Airing:
      type: object
      properties:
        startTime:
          type: string
          format: date-time
          description: Airing start time in ISO 8601 format
        endTime:
          type: string
          format: date-time
        duration:
          type: integer
          description: Duration in minutes
        stationId:
          type: string
        qualifiers:
          type: array
          items:
            type: string
          description: Qualifiers such as New, Live, Finale, Repeat
        program:
          $ref: '#/components/schemas/Program'
    CelebrityAppearance:
      type: object
      properties:
        startTime:
          type: string
          format: date-time
        stationId:
          type: string
        program:
          $ref: '#/components/schemas/Program'
        celebrity:
          $ref: '#/components/schemas/Celebrity'
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: api_key
